<!DOCTYPE html>
<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Django Girls Blog</a></h1>
        </header>

        {{ posts }}
            <h2><a href="">My first post</a></h2>
            <p>Hi, am so excited to share my first post here.</p>
        </article>

        {{ posts }}
            
            <h2><a href="">My second post</a></h2>
            <p>Also, trying to share my another post as well.</p>
        </article>
    </body>
</html>